.navbar-nav
{
 
    
        width: auto;
        height: auto; /* Just an example height*/
       
       
}
#myHeader {
    background-color: blue;
    color: black;
    padding:150px;
    text-align: center;
  }
  
#myfooter1{

    background-color: blue;
    text-align: center;
color:black;
}
span{
    font-size:15px;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}



.item{
    left: 0;
    top: 0;
    position: relative;
    overflow: hidden;
    margin-top:50px;
    
}
.item img{
    -webkit-transition: 0.6s ease;
      transition: 0.6s ease;
      
}
.item img:hover{
    -webkit-transform: scale(1.2);
      transform: scale(1.2);

}
.img-thumbnail{
    border:0px;
    border-radius:0px;
}





collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
	background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
  }






 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
    }
}